.layout {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}

.main-content {
  flex: 1 0 calc(100vh - var(--footer-size));
  padding: 1.5rem 2rem;
  padding-top: calc(var(--header-size) + 1.5rem);
  display: flex;
  flex-direction: column;
}
