.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.modal__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.modal__buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
}