.container {
  margin-top: auto;
}
.container::before {
  content: "";
  width: 10%;
  min-width: 100px;
  max-width: 200px;
  display: inline-block;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
  border-radius: 8px;
  background: #fff;
}
